<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf th:replace="fragments/head  :: head_meta_tags" />
    <title>Edit categories</title>
</head>
<body>
    <div th:replace="fragments/nav :: nav"></div>
    <div class="container">
        <h1>Edit category</h1>
        <form th:action="@{/categories/edit}" th:object="${category}" method="post">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label>Category name:</label>
                <input type="text" class="form-control" th:field="*{name}"/>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
            <a th:href="@{/categories}" class="btn btn-primary">Back</a>
        </form>
    </div>
</body>
</html>